@import 'styles/breakpoints.module';

.Toastify__toast-container {
  width: 100vw !important;
  padding: 0 !important;
}

.Toastify__toast-container--top-center {
  top: 0 !important;
}

.Toast-top {
  top: 47px !important;

  &.Toastify__toast {
    border-radius: 20px;
    min-height: unset;
    padding: 0;
    margin: auto;
    width: fit-content;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    .Toastify__toast-body {
      margin: 0;
      padding: 4px 12px 4px 6px;
      font-size: 14px;
      line-height: 24px;
      color: black;
    }
  }

  @include media-breakpoint-down(md) {
    top: 37px !important;
    display: flex;
    left: 0;
    right: 0;

    .Toastify__toast {
      margin: auto;
    }
  }
}

.Toast-top-full {
  top: 114px !important;

  &.Toastify__toast {
    border-radius: 0;
    box-shadow: none;
    padding: 12px 0;
    text-align: center;
    min-height: fit-content;
    background: rgba(106, 205, 2, 0.3);
    color: #4e9900;

    .Toastify__toast-body {
      padding: 0;
      margin: 0;
      font-size: 20px;
    }

    @include media-breakpoint-down(lg) {
      padding: 3px 0;

      .Toastify__toast-body {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &.error {
    &.Toastify__toast {
      background: #fcefee;
      color: #5d2625;
    }
  }

  @include media-breakpoint-down(sm) {
    top: 114px !important;
  }
}
